{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    
    <nav class="navbar ">
        <div class="leftnav">
            <ul class="nav-list-L ">
                <li><a href="/">Dream Shop</a></li>
            </ul>
        </div>

        <form class="search">
            <input type="text" name="search1" placeholder="Search for products,brands and more">
            <button class="searchbtn">Search</button>
        </form>

        <div class="rightNav">
            <ul class="nav-list-R ">
                <li><a href="#login">Login</a></li>
                <li><a href="#tracker">Track Orders</a></li>
                <li><a href="/checkout">Cart</a><i id="addcart" class="fa fa-shopping-cart"
                        style="font-size:18px;color:whitesmoke;" data-container="body" data-trigger="hover"
                        data-toggle="popover" data-placement="bottom" data-html="true"
                        data-content="Vivamus  lacus vel augue laoreet rutrum faucibus.">(0)</i></li>

            </ul>

        </div>
    </nav>

    {% block body %}

    {% endblock %}

    <script>
        // console.log("Working");
        if (localStorage.getItem('cart') == null) {
            var cart = {};

        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        // let cartt = document.getElementById('cartt')
        // cartt.addEventListener('click', () => {
        //     console.log("button click done");
        // })
        $(document).on('click', '.cartt', function () {
            // console.log("button click");
            let item_id = this.id.toString();
            console.log(item_id);

            if (cart[item_id] != undefined) {
                quatity = cart[item_id][0] + 1;
                cart[item_id][0] = quatity;
                cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById('price' + item_id).innerHTML);
            }

            else {
                quatity = 1;
                price = parseFloat(document.getElementById('price' + item_id).innerHTML);
                name = document.getElementById("nm" + item_id).innerHTML;
                cart[item_id] = [quatity, name, price];
            }
            console.log(cart);

            localStorage.setItem('cart', JSON.stringify(cart));
            document.getElementById('addcart').innerHTML = "(" + Object.keys(cart).length + ")"

        });
        // popover funtion

        // $(function () {
        //     $('[data-toggle="popover"]').popover()
        //     document.getElementById('addcart').setAttribute('data-content','<h5> this is cart</h5>')
        // })



    </script>

    <script>

        // funtion to add cart items in popover
        Displaycart(cart);
        function Displaycart(cart) {
            var cartString = "";
            cartString += "<h5> Items in your Cart</h5>";

            var cartIndex = 1;
            for (var x in cart) {
                cartString += cartIndex;

                // if (document.getElementById("nm" + x) !== null) {

                    cartString += document.getElementById("nm" + x).innerHTML + "Qty:" + cart[x][0] + "</br>";
                    cartIndex += 1;
                // }


            }


            document.getElementById('addcart').setAttribute('data-content', cartString);
            $('[data-toggle="popover"]').popover()
        }


    </script>


    <!-- adding cart item to list in checkout page -->

    <script type="text/javascript">

        if (localStorage.getItem('cart') == null) {
            var cart = {};

        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'));

        }

        let total = 0;
        for (item in cart) {
            let name = cart[item][1];
            let quantity = cart[item][0];
            let price = cart[item][2];
            total = total + cart[item][2];

            itemString = ` <li class = "list-group">Qty:${quantity} ${name}- &#x20B9;
    ${price}</li> `
            $('#item_list').append(itemString)
        }

        // to get the total in checkout form
        totalPrice = ` <li class = "list-group">Your Total Price is &#x20B9;
    ${total} </li> `
        $('#item_list').append(totalPrice);
        $('#total').val(total);



        // to get the items in checkout form
        $('#items').val(JSON.stringify(cart));

    </script>


</body>


</html>